<div class="container bulk-btn">
  <mat-card
    ><div>
      <mat-form-field appearance="fill">
        <mat-label>Choose an Option</mat-label>
        <mat-select [formControl]="template" multiple>
          <mat-option
            *ngFor="let templateItem of templates"
            [value]="templateItem"
            >{{ templateItem }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="bulk-download-btn">
        Download CSV Template
      </button>
    </div></mat-card
  >
  <mat-card
    ><div class="form-group">
      <label>Upload Batch File here</label>
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />

      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}

        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
          Upload A File Here
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div></mat-card
  >
</div>

<div class="container"><mat-card-title>Batches</mat-card-title></div>
<button (click)="getPosts()" class="hidden">GetPosts</button>
<div class="container">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table get-batches-table"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="Batch Id">
      <th mat-header-cell *matHeaderCellDef>Batch Id</th>
      <td mat-cell *matCellDef="let element">
        <form class="batch-summary-wrap" #batchSummaryForm="ngForm">
          <mat-form-field
            class="example-full-width"
            appearance="fill"
            class="hidden"
          >
            <mat-label hidden>Enter Batch ID</mat-label>
            <input
              matInput
              class="form-control col-sm-4 batch-summary-id"
              ngModel="{{ element.batchId }}"
              name="batchid"
              id="batch-id"
              hidden
            />
          </mat-form-field>

          <button
            color=""
            type="submit"
            [disabled]="!batchSummaryForm.valid"
            [value]="element.batchId"
            (click)="getBatchSummaryinfo($event.target.value)"
          >
            {{ element.batchId }}
          </button>
        </form>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Request Id">
      <th mat-header-cell *matHeaderCellDef>Request Id</th>
      <td mat-cell *matCellDef="let element">{{ element.requestId }}</td>
    </ng-container>
    <ng-container matColumnDef="Completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let element">{{ element.completed }}</td>
    </ng-container>
    <ng-container matColumnDef="Completion Time">
      <th mat-header-cell *matHeaderCellDef>Completion Time</th>
      <td mat-cell *matCellDef="let element">
        {{ formatDate(element.completedAt) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Failed">
      <th mat-header-cell *matHeaderCellDef>Failed</th>
      <td mat-cell *matCellDef="let element">{{ element.failed }}</td>
    </ng-container>
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalTransactions }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[30, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    [length]="lengthGetBatches"
    [pageSize]=""
  >
  </mat-paginator>
</div>
