.filter-options {
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

.mat-paginator-range-label {
  display: hidden;
}

table {
  width: 100%;
}

.mat-cell {
  word-wrap: break-word !important;
  white-space: unset !important;

  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-cell.cdk-column-completedAt {
  flex: 0 0 110px !important;
  width: 110px !important;
}
