<div class="container batch-summary">
  <form
    class="batch-summary-wrap"
    #batchSummaryForm="ngForm"
    (ngSubmit)="getBatchSummary(batchSummaryForm.value)"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter Batch ID</mat-label>
      <input
        matInput
        class="form-control col-sm-4 batch-summary-id"
        ngModel
        name="batchid"
        id="batch-id"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!batchSummaryForm.valid"
    >
      View Batch Summary
    </button>
  </form>
  <p>Batch summary</p>

  <div *ngFor="let batches of BatchSummaryData">
    <mat-card class="batch-details-card"
      ><mat-card-title>Batch Id : {{ batches.batch_id }}</mat-card-title>
      <mat-card-subtitle
        >Request Id : {{ batches.request_id }}</mat-card-subtitle
      >
      <mat-card-subtitle>Total : {{ batches.total }}</mat-card-subtitle>
      <mat-card-subtitle
        >Amount Total : {{ batches.totalAmount }}</mat-card-subtitle
      >
      <mat-card-subtitle>Status : {{ batches.status }}</mat-card-subtitle>
      <mat-card-subtitle
        >Successful : {{ batches.successful }}</mat-card-subtitle
      >
      <mat-card-subtitle>Failed : {{ batches.failed }}</mat-card-subtitle>

      <mat-card-subtitle>Ongoing : {{ batches.ongoing }}</mat-card-subtitle>
      <button
        class="primary"
        [value]="batches.batch_id"
        (click)="getBatchDetails($event.target.value)"
      >
        View Batch Details
      </button>
    </mat-card>

    <table
      mat-table
      [dataSource]="dataSourceGetDetails"
      class="mat-elevation-z8 demo-table container"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="Batch Id">
        <th mat-header-cell *matHeaderCellDef>Batch Id</th>
        <td mat-cell *matCellDef="let element">
          <form
            class="batch-summary-wrap"
            #batchSummaryForm="ngForm"
            (ngSubmit)="getBatchSummary(batchSummaryForm.value)"
          >
            <mat-form-field
              class="example-full-width"
              appearance="fill"
              class="hidden"
            >
              <mat-label hidden>Enter Batch ID</mat-label>
              <input
                matInput
                class="form-control col-sm-4 batch-summary-id"
                ngModel="{{ element.batchId }}"
                name="batchid"
                id="batch-id"
                hidden
              />
            </mat-form-field>

            <button color="" type="submit" [disabled]="!batchSummaryForm.valid">
              {{ element.batchId }}
            </button>
          </form>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Request Id">
        <th mat-header-cell *matHeaderCellDef>Request Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="Transaction Id">
        <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
        <td mat-cell *matCellDef="let element">{{ element.completed }}</td>
      </ng-container>
      <ng-container matColumnDef="Completion Time">
        <th mat-header-cell *matHeaderCellDef>Completion Time</th>
        <td mat-cell *matCellDef="let element">{{ element.completedAt }}</td>
      </ng-container>
      <ng-container matColumnDef="Start Time">
        <th mat-header-cell *matHeaderCellDef>Start Time</th>
        <td mat-cell *matCellDef="let element">{{ element.startedAt }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
