PH_OPS_BACKEND_SERVER_URL=https://paymenthub.qa.oneacrefund.org/opsapp/api/v1
export PH_OPS_BATCH_SIGNATURE=12345677899
export PH_OPS_BULK_CONNECTOR_URL=https://paymenthub.qa.oneacrefund.org

PH_VOU_BACKEND_SERVER_URL=https://paymenthub.qa.oneacrefund.org/opsapp/api/v1
export PH_VOU_CALLBACK_URL=https://webhook.site/

PH_ACT_BACKEND_SERVER_URL=https://paymenthub.qa.oneacrefund.org/opsapp/api/v1

export PH_PLATFORM_TENANT_ID=phdefault

export PH_PLATFORM_TENANT_IDS=phdefault

export PH_REGISTERING_INSTITUTION_ID=SocialInstitution

export PH_AUTH_ENABLED=false

export PH_OAUTH_ENABLED=false

export PH_OAUTH_TYPE=keycloak

export PH_OAUTH_SERVER_URL=https://paymenthub.qa.oneacrefund.org/opsapp/api/v1

export PH_OAUTH_REALM=paymenthub

export PH_OAUTH_CLIENT_ID=opsapp

export PH_OAUTH_CLIENT_SECRET=Y2xpZW50Og=

export PH_OAUTH_BASIC_AUTH=true

export PH_OAUTH_BASIC_AUTH_TOKEN=Y2xpZW50Og==

export PH_DEFAULT_LANGUAGE=en

export PH_SUPPORTED_LANGUAGES=en,fr,es
