
PH_BACKEND_SERVER_URLS=https://ops-bk.sandbox.fynarfin.io

PH_BACKEND_SERVER_URL=https://ops-bk.sandbox.fynarfin.io

PH_BACKEND_SERVER_API_PATH=/opsapp/api

PH_BACKEND_SERVER_API_VERSION=/v1

PH_PLATFORM_TENANT_ID=phdefault

PH_PLATFORM_TENANT_IDS=phdefault

PH_AUTH_ENABLED=true

PH_OAUTH_ENABLED=false

PH_OAUTH_SERVER_URL=https://ops-bk.sandbox.fynarfin.io

PH_OAUTH_BASIC_AUTH=true

PH_OAUTH_BASIC_AUTH_TOKEN=Y2xpZW50Og==

PH_DEFAULT_LANGUAGE=en-US

PH_SUPPORTED_LANGUAGES=en-US,fr-FR
