<div class="container" fxLayout="column wrap" fxLayout.lt-md="column">

  <div class="equal-width">

    <mat-accordion class="filter-options">
      <mat-expansion-panel #panel class="filter-header" hideToggle>
        <mat-expansion-panel-header (click)="togglePanel()">
          <mat-panel-title fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
            <div *ngIf="!panel.expanded" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="flex-start center" class="gap0">
              
              <button
                *ngIf="showGovernmentEntityButton"
                (click)="removeFilter('governmentEntity')"
                [ngClass]="{
                  'active-filter-button': selectedFilters.governmentEntity,
                  'filter-button': !selectedFilters.governmentEntity
                }"
                mat-button
              >
                {{'labels.inputs.Government Entity' | translate}}
              </button>
              
              <button
                *ngIf="showFinancialInstitutionButton"
                (click)="removeFilter('financialInstitution')"
                [ngClass]="{
                  'active-filter-button': selectedFilters.financialInstitution,
                  'filter-button': !selectedFilters.financialInstitution
                }"
                mat-button
              >
              {{'labels.inputs.Financial Institution' | translate}}
              </button>
              
              <button
                [ngClass]="{
                  'active-filter-button': selectedFilters.functionalId,
                  'filter-button': !selectedFilters.functionalId
                }"
                (click)="removeFilter('functionalId')"
                mat-button
              >
              {{'labels.inputs.Functional ID' | translate}}
              </button>
              
              <button
                [ngClass]="{
                  'active-filter-button': selectedFilters.financialAddress,
                  'filter-button': !selectedFilters.financialAddress
                }"
                (click)="removeFilter('financialAddress')"
                mat-button
              >
              {{'labels.inputs.Financial Address' | translate}}
              </button>

            </div>

            <div (click)="togglePanel($event)" fxFlex fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="end center">
              <fa-icon icon="filter" size="xl"></fa-icon>
              <h3 class="m-r-10">
                {{ 'labels.inputs.Filters' | translate }}
              </h3>
              <fa-icon [icon]="panel.expanded ? 'chevron-up' : 'chevron-down'" size="lg"></fa-icon>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container" fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
            
            <div *ngIf="showGovernmentEntityButton" fxLayout="column">
              <mat-label> {{ 'labels.inputs.Government Entity' | translate }} </mat-label>
              <mat-form-field>
                <input [formControl]="governmentEntity" matInput id="governmentEntityInput" />
              </mat-form-field>
            </div>
            
            <div *ngIf="showFinancialInstitutionButton" fxLayout="column">
              <mat-label> {{ 'labels.inputs.Financial Institution' | translate }} </mat-label>
              <mat-form-field>
                <input [formControl]="financialInstitution" matInput id="financialInstitutionInput" />
              </mat-form-field>
            </div>
            
            <div fxLayout="column">
              <mat-label> {{ 'labels.inputs.Functional ID' | translate }} </mat-label>
              <mat-form-field>
                <input [formControl]="functionalId" matInput id="functionalIdInput" />
              </mat-form-field>
            </div>
            
            <div fxLayout="column">
              <mat-label> {{ 'labels.inputs.Financial Address' | translate }} </mat-label>
              <mat-form-field>
                <input [formControl]="financialAddress" matInput id="financialAddressInput" />
              </mat-form-field>
            </div>

          </div>

          <div class="p-4" fxLayoutAlign="flex-start center">
            <button (click)="searchAccounts()" mat-raised-button class="search-button">
              {{ 'labels.buttons.Search' | translate }}
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="equal-width">
    <mat-card class="radius8 no-padding">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <div class="table-container">
        <table *ngIf="!isLoading" [dataSource]="dataSource" mat-table matSort>
          
          <ng-container matColumnDef="governmentEntity">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'labels.inputs.Government Entity' | translate }}</th>
            <td *matCellDef="let item" mat-cell>{{ item.registeringInstitutionId }}</td>
          </ng-container>

          <ng-container matColumnDef="financialInstitution">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'labels.inputs.Financial Institution' | translate }}</th>
            <td *matCellDef="let item" mat-cell>{{ item.bankingInstitutionCode }}</td>
          </ng-container>

          <ng-container matColumnDef="functionalId">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'labels.inputs.Functional ID' | translate }}</th>
            <td *matCellDef="let item" mat-cell>{{ item.payeeIdentity }}</td>
          </ng-container>

          <ng-container matColumnDef="financialAddress">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'labels.inputs.Financial Address' | translate }}</th>
            <td *matCellDef="let item" mat-cell>
              <mifosx-identifier identifier="{{ item.financialAddress }}"></mifosx-identifier>
            </td>
          </ng-container>

          <ng-container matColumnDef="paymentModality">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'labels.inputs.Payment Modality' | translate }}</th>
            <td *matCellDef="let item" mat-cell>{{ paymentModalityDescription(item.paymentModality) }}</td>
          </ng-container>

          <tbody>
            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row class="select-row"></tr>
            <tr *matNoDataRow class="mat-row">
              <td [attr.colspan]="displayedColumns.length" class="mat-cell">{{'labels.texts.No data matching data found'| translate}}/td>
            </tr>
          </tbody>

        </table>
      </div>
      <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="[10, 50, 100]" [length]="totalRows" (page)="pageChanged($event)" showFirstLastButtons>
      </mat-paginator>
    </mat-card>

  </div>

</div>
