<div class="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="upload" fxLayout="row" fxLayoutAlign="center" (click)="openFileSelector()">
          <fa-icon class="primary" fxLayout="row" fxLayoutAlign="center center" icon="arrow-up-from-bracket" size="xl"></fa-icon>
          <div>
            <span class="primary">{{"labels.texts.Select voucher file from your system and make sure it matches the requirement" | translate}}</span>
            <span class="black" >{{"labels.texts.File must be in CSV or Excel Format" | translate}}</span>
          </div>
        </div>
      </ng-template>
  </ngx-file-drop>
</div>