.content {
  div {
    line-height: 3rem;

    &.header {
      font-weight: 500;
    }
  }
}

table {
  width: 100%;
}

mat-card {
  margin: 0 10px;
}

.mat-column-payment-process-id-value, .mat-column-payment-process-id {
  font-weight: bold;
  font-size: 10pt;
}

.mat-column-payment-business-attributes, .mat-column-payment-task-list {
  font-size: large;
  font-weight: bold;
}

.marginTop100 {
  margin-top: 100px;
}

.mat-column-name {
  width: 250px;
}

.mat-column-timestamp {
  width: 170px;
}

.mat-cell {
  word-wrap: break-word !important;
  white-space: unset !important;

  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.green {
  color: green;
}

.red { 
  color:red;
}
  
.orange { 
  color:orange;
}

.blue { 
  color: blue;
}

tr.transaction-detail-row {
  height: 0;
}

tr.transaction-row:not(.transaction-expanded-row):hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.transaction-row:not(.transaction-expanded-row):active {
  background: #efefef;
}

.transaction-row td {
  border-bottom-width: 0;
}

.transaction-detail {
  overflow: hidden;
  display: flex;
}

