<div class="container">
  <mat-grid-list cols="2" rowHeight="350">
    <mat-grid-tile [colspan]="1"
    [rowspan]="1">
    <mat-card class="mat-elevation-z8" *ngIf="datasource.transaction">
      <mat-card-title>Payer</mat-card-title>
      <mat-card-content>

        <div fxLayout="row wrap" class="content">

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerPartyIdType!==undefined">
            Id Type
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerPartyIdType!==undefined">
            {{ datasource.transaction.payerPartyIdType }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerPartyId!==undefined">
            Id
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerPartyId!==undefined">
            {{ datasource.transaction.payerPartyId }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerDfspId!==undefined">
            DFSP Id
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerDfspId!==undefined">
            {{ datasource.transaction.payerDfspId }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerDfspId!==undefined">
            DFSP Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerDfspId!==undefined">
            {{ displayDfspName(getDfpsEntry(datasource.transaction.payerDfspId))}}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerDateOfBirth!==undefined">
            Date of Birth
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerDateOfBirth!==undefined">
            {{ datasource.transaction.payerDateOfBirth }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerLastName!==undefined">
            Last Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerLastName!==undefined">
            {{ datasource.transaction.payerLastName }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerFirstName!==undefined">
            First Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerFirstName!==undefined">
            {{ datasource.transaction.payerFirstName }}
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
    [rowspan]="1">
    <mat-card class="mat-elevation-z8" *ngIf="datasource.transaction">
      <mat-card-title>Payee</mat-card-title>
      <mat-card-content>

        <div fxLayout="row wrap" class="content">

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeePartyIdType!==undefined">
            Id Type
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeePartyIdType!==undefined">
            {{ datasource.transaction.payeePartyIdType }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeePartyId!==undefined">
            Id
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeePartyId!==undefined">
            {{ datasource.transaction.payeePartyId }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeDfspId!==undefined">
            DFSP Id
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeDfspId!==undefined">
            {{ datasource.transaction.payeeDfspId }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeDfspId!==undefined">
            DFSP Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeDfspId!==undefined">
            {{ displayDfspName(getDfpsEntry(datasource.transaction.payeeDfspId)) }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeDateOfBirth!==undefined">
            Date of Birth
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeDateOfBirth!==undefined">
            {{ datasource.transaction.payeeDateOfBirth }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeLastName!==undefined">
            Last Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeLastName!==undefined">
            {{ datasource.transaction.payeeLastName }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeFirstName!==undefined">
            First Name
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeFirstName!==undefined">
            {{ datasource.transaction.payeeFirstName }}
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="350">
  <mat-grid-tile [colspan]="1"
    [rowspan]="1">
    <mat-card class="mat-elevation-z8" *ngIf="datasource.transaction">
      <mat-card-title>Transfer</mat-card-title>
      <mat-card-content>

        <div fxLayout="row wrap" class="content">

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.transactionId!==undefined">
            Transfer Code
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.transactionId!==undefined">
            {{ datasource.transaction.transactionId }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.amount!==undefined">
            Transfer Amount
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.amount!==undefined">
            {{ datasource.transaction.amount }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.currency!==undefined">
            Transfer Currency
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.currency!==undefined">
            {{ datasource.transaction.currency }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.feeType!==undefined">
            Fee Type
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.feeType!==undefined">
            {{ datasource.transaction.feeType }}
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.completedAt!==undefined">
            Transfer Completed
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.completedAt!==undefined">
            {{ formatDate(datasource.transaction.completedAt) }}
          </div>
          <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.completedAt!==undefined">
            Transfer Status
          </div>

          <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.status!==undefined" class="{{displayCSS(datasource.transaction.status)}}">
            {{ displayStatus(datasource.transaction.status) }}
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
  [rowspan]="1">
  <mat-card class="mat-elevation-z8" *ngIf="datasource.transaction">
    <mat-card-title>Fees</mat-card-title>
    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerQuoteCode!==undefined">
          Payer quote code
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerQuoteCode!==undefined">
          {{ datasource.transaction.payerQuoteCode }}
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payerFee!==undefined">
          Payer fee
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payerFee!==undefined">
          {{ datasource.transaction.payerFee }} {{ datasource.transaction.payerFeeCurrency }}
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeQuoteCode!==undefined">
          Payee quote code
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeQuoteCode!==undefined">
          {{ datasource.transaction.payeeQuoteCode }}
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" class="header" *ngIf="datasource.transaction.payeeFee!==undefined">
          Payee fee
        </div>

        <div fxFlex="50%" fxFlex.lt-md="50%" *ngIf="datasource.transaction.payeeFee!==undefined">
          {{ datasource.transaction.payeeFee }} {{ datasource.transaction.payeeFeeCurrency }}
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
</div>

<div class="mat-elevation-z8 container">

  <table mat-table [dataSource]="taskList" matSort>
    <ng-container matColumnDef="payment-task-list">
      <th mat-header-cell *matHeaderCellDef colspan="4"> Transaction Task List </th>
    </ng-container>

    <ng-container matColumnDef="payment-process-id">
      <th mat-header-cell *matHeaderCellDef > Payment Process Id </th>
    </ng-container>

    <ng-container matColumnDef="payment-process-id-value">
      <th mat-header-cell *matHeaderCellDef colspan="3"> {{ getPaymentProcessId() }} </th>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time (UTC) </th>
      <td mat-cell *matCellDef="let transaction"> {{ formatDate(convertTimestampToDate(transaction.timestamp)) }} </td>
    </ng-container>

    <ng-container matColumnDef="elementId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Id </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.elementId }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Type</th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.type }} </td>
    </ng-container>

    <ng-container matColumnDef="intent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let transaction" [ngClass]="{'orange': transaction.intent==='CREATED','blue': transaction.intent==='ACTIVATED','green': transaction.intent==='COMPLETED'}"> {{ transaction.intent }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['payment-task-list']"></tr>
    <tr mat-header-row *matHeaderRowDef="['payment-process-id', 'payment-process-id-value']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>

<div class="mat-elevation-z8 container marginTop100">

  <table mat-table [dataSource]="businessAttributes" matSort>
    <ng-container matColumnDef="payment-business-attributes">
      <th mat-header-cell *matHeaderCellDef colspan="3"> Transaction Business Attributes </th>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.name }} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time (UTC) </th>
      <td mat-cell *matCellDef="let transaction"> {{ formatDate(convertTimestampToDate(transaction.timestamp)) }} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
      <td mat-cell *matCellDef="let transaction" [innerHTML]="transaction.value | prettyPrint"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['payment-business-attributes']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedBusinessAttributeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedBusinessAttributeColumns;"></tr>

  </table>
</div>
