.filter-options {
    width: 100%;
    margin-bottom: 20px;
}

.push-end {
    text-align: end;
}

.grey {
    color: grey;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}