<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button class="edit-b custom-button" (click)="toggleEdit()"><fa-icon icon="edit"></fa-icon>&nbsp;&nbsp; Edit</button>
  <button mat-raised-button class="delete-b custom-button" (click)="delete()"><fa-icon icon="trash"></fa-icon>&nbsp;&nbsp; Delete</button>
</div>

<div class="container">
  <mat-card>
    <form [formGroup]="programForm" (ngSubmit)="submit()">
      <mat-card-content>
        <form [formGroup]="programForm">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="content">

            <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column">
              <mat-label>Goverment Entity *</mat-label>
              <mat-form-field class="custom-g2p-field">
                <ng-container *ngIf="!isEditing; else editGovtEntity">
                  <input matInput formControlName="governmentEntity" required />
                </ng-container>
                <ng-template #editGovtEntity>
                    <mat-select formControlName="governmentEntity" required placeholder="Select Government Entity">
                        <mat-option *ngFor="let govt of configTemplate.govtEntities" [value]="govt.govInstId">{{ govt.name }}</mat-option>
                    </mat-select>
                </ng-template>
              </mat-form-field>
            </div>

            <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column">
              <mat-label>Program *</mat-label>
              <mat-form-field class="custom-g2p-field">
                <ng-container *ngIf="!isEditing; else editProgram">
                  <input matInput formControlName="program" required />
                </ng-container>
                <ng-template #editProgram>
                  <mat-select formControlName="program" required placeholder="Select Program">
                    <mat-option *ngFor="let program of configTemplate.programs" [value]="program.programId">{{ program.programName }}</mat-option>
                  </mat-select>
                </ng-template>

              </mat-form-field>
            </div>

            <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column">
              <mat-label>Payer DFSP *</mat-label>
              <mat-form-field class="custom-g2p-field">
                <ng-container *ngIf="!isEditing; else editDfsp">
                  <input matInput formControlName="payerDfsp" required />
                </ng-container>
                <ng-template #editDfsp>
                  <mat-select formControlName="payerDfsp" placeholder="Select Payer DFSP" required>
                    <mat-option *ngFor="let dfsp of configTemplate.payerDfsps" [value]="dfsp.fspId">{{ dfsp.name }}</mat-option>
                  </mat-select>
                </ng-template>
              </mat-form-field>
            </div>

            <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column">
              <mat-label>Payment Account *</mat-label>
              <mat-form-field class="custom-g2p-field">
                <input matInput formControlName="account" required />
              </mat-form-field>
            </div>

            <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column">
              <mat-label>Status *</mat-label>
              <mat-form-field class="custom-g2p-field">
                <ng-container *ngIf="!isEditing; else editStatus">
                  <input matInput formControlName="status" required />
                </ng-container>
                <ng-template #editStatus>
                  <mat-select formControlName="status" required>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                </ng-template>
              </mat-form-field>
            </div>

          </div>
        </form>
      </mat-card-content>

      <mat-card-actions class="buttons-group" *ngIf="isEditing">
        <button mat-stroked-button type="button" class="button" [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-flat-button class="submit button" [disabled]="!programForm.valid">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
