@import 'theme/theme';

.option {
  border-radius: 15px;
  background-color: $mid-grey;
  border: $border-size solid $mid-grey;
  height: 110px;
  width: 280px;
  vertical-align: middle;
  margin: 15px;
  padding-top: 15px;

  .title {
    padding-left: 15px;
    font-size: 1.2rem;

    fa-icon {
      color: $primary;
    }
  }
}

.option:hover {
  background-color: $primary;
  .title {
    color: $white;
    fa-icon {
      color: $white;
    }
  }
}