<div>
  <div *ngIf="!dataSource.data.length" fxLayout="column" (click)="openUploadDialog()" fxLayoutGap="1rem" class="upload-box" fxLayoutAlign="center flex-start">
    <fa-icon icon="arrow-right" size="xl" class="arrow-right"></fa-icon>
    <fa-icon icon="arrow-up-from-bracket" size="xl" class="upload"></fa-icon>
    <h3 class="title">{{ 'labels.inputs.Bulk Voucher Upload' | translate }}</h3>
  </div>

  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <form [formGroup]="createVoucherForm" fxLayout="row" fxLayoutAlign="space-between center" class="m-b-15" *ngIf="dataSource.data.length">
      <div fxLayout="row" fxLayoutGap="2%">
        <mat-form-field class="voucher-form-field">
          <mat-label>{{ 'labels.inputs.Request Id' | translate }}</mat-label>
          <input type="number" matInput required formControlName="requestId" />
        </mat-form-field>
        <mat-form-field class="voucher-form-field">
          <mat-label>{{ 'labels.inputs.URL' | translate }}</mat-label>
          <input matInput required formControlName="callbackUrl" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="2%">
        <button type="button" class="send-button" mat-raised-button [disabled]="!createVoucherForm.valid" (click)="sendData()">
          <fa-icon icon="paper-plane" class="m-r-10"></fa-icon>{{ 'labels.buttons.Send Data' | translate }}
        </button>
        <button type="button" class="cancel-button" mat-raised-button (click)="clearData()">
          <fa-icon icon="trash" class="m-r-10"></fa-icon>{{ 'labels.buttons.Clear Data' | translate }}
        </button>
      </div>
    </form>

    <mat-card class="radius8 no-padding">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

      <div class="table-container">
        <table mat-table matSort [dataSource]="dataSource" *ngIf="dataSource.data.length && !isLoading">
          <ng-container matColumnDef="rowId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let idx = index">{{ idx + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="instructionId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Instruction Id' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">
              <mifosx-identifier identifier="{{ voucher.instructionID }}"></mifosx-identifier>
            </td>
          </ng-container>

          <ng-container matColumnDef="groupCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Group Code' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">{{ voucher.groupCode }}</td>
          </ng-container>

          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Currency' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">{{ voucher.currency }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Amount' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">
              {{ voucher.amount | number }}
            </td>
          </ng-container>

          <ng-container matColumnDef="expiry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Expiry' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">{{ voucher.expiry }}</td>
          </ng-container>

          <ng-container matColumnDef="functionalId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Functional Id' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">
              <mifosx-identifier identifier="{{ voucher.payeeFunctionalID }}"></mifosx-identifier>
            </td>
          </ng-container>

          <ng-container matColumnDef="narration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Description' | translate }}
            </th>
            <td mat-cell *matCellDef="let voucher">{{ voucher.narration }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="select-row"></tr>
        </table>
      </div>
      <div [hidden]="!dataSource.data.length">
        <mat-paginator [pageSizeOptions]="[10, 50, 100, 200, 500]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>