<div class="content">
  <mifosx-language-selector fxHide.lt-md></mifosx-language-selector>
  <div class="right-toolbar">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayout.gt-lg="row wrap" >
    <mat-card  matTooltip="{{displayEmail()}}" >{{displayUser()}}</mat-card>
    <mat-card>{{displayUserType()}}</mat-card>
    <ng-container *ngIf="displayInstitueId() !== undefined">
      <mat-card matTooltip="{{displayInstitueId()}}">{{displayInstituteName()}}</mat-card>
    </ng-container>
  </div>
      <button mat-fab class="user-icon" >
          <fa-icon icon="user" size="lg"></fa-icon>
      </button>
      <fa-icon [matMenuTriggerFor]="applicationMenu" #menuTrigger="matMenuTrigger" [icon]="menuTrigger.menuOpen ? 'chevron-up' : 'chevron-down'" size="lg"></fa-icon>
  </div>
</div>

<!-- Application User Help Menu -->
<mat-menu #applicationMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>
      <fa-icon icon="cog" size="lg"></fa-icon>
    </mat-icon>
    <span>{{'labels.menus.Settings' | translate}}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>
      <fa-icon icon="sign-out-alt" size="lg"></fa-icon>
    </mat-icon>
    <span>{{'labels.menus.Sign Out' | translate}}</span>
  </button>
</mat-menu>