#mifosx-toolbar {
  position: relative;
  background-color: transparent;

  .toolbar {
    width: 96%;
    border-style: outset;
    border-radius: 15px;

    .content {
      margin-left: 2%;
      margin-right: 2%;
    }
  }

  .tab-link {
    min-width: auto;
    padding: 0 1rem;
  }

  .search-bar {
    .search {
      max-width: 400px;
      width: 100%;
      font-size: 1rem;
    }
  }

  .username {
    text-align: right;
    font-size: medium;
  }

  .language {
    min-width: 120px;
    width: 120px;
    margin: auto;
  }

}
