@import 'theme/theme';

.main-container {
  height: 100vh;
}

mifosx-login-form {
  width: 50%;
}

.login-container {
  margin: auto;
  background-color: $primary;
  color: $white;
  padding: 2rem;
  width: 60%;
  height: fit-content;
  border-radius: 2rem;

  .login-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .app-brand {
    width: fit-content;
    margin: 3rem auto;
    color: $white;
    gap: 0.5rem;
    z-index: 9999;

    .app-logo {
      width: auto;
      height: 100%;
      font-size: 2rem;
    }

    .app-logo-text {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}
