<div fxLayout="column" class="main-container">

  <div fxLayout="column" class="login-container">
    <div fxLayout="row-reverse" fxFlex="1 0 auto">
      <mifosx-language-selector class="custom-language p-r-10 p-t-10"></mifosx-language-selector>
    </div>

    <!-- Logo with Organization Name -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="app-brand" fxFlex="3 0 auto">
      <mat-icon fxLayout="row" fxLayoutAlign="space-between center" class="app-logo" matListIcon>
        <fa-icon icon="square-parking" size="xl"></fa-icon>
      </mat-icon>
      <span class="app-logo-text">{{ 'APP_NAME' | translate }}</span>
    </div>

    <div fxLayout="column"  fxLayoutAlign="start center ">
      <div class="login-title">{{"labels.heading.Backoffice Login" | translate}}</div>
      <p>{{"labels.texts.Enter your login details below" | translate}}</p>
    </div>

    <div fxLayout="row" fxFlex="3 0 auto" fxLayoutAlign="center start">
      <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>
      <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
    </div>

    <!-- Footer -->
    <mifosx-footer></mifosx-footer>
  </div>
</div>