<!-- The viewport is divided into two parts having max-width 70% and 30% -->
<div fxLayout="row" class="main-container">

  <div fxLayout="column" fxFlex.gt-md="1 0 50%">
    <!-- Language Selector to the extreme right -->
    <div fxLayout="row-reverse" fxFlex="1 0 auto">
      <mifosx-language-selector class="p-r-10 p-t-10"></mifosx-language-selector>
    </div>

    <!-- Logo with Organization Name -->
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <img src="assets/images/mifos-logo-flat.png" alt="Mifos X Logo" class="img-container" />
    </div>

    <div fxLayout="row" fxFlex="3 0 auto" fxLayoutAlign="center start">
      <p>{{ 'APP_NAME' | translate }}</p>
    </div>

    <div fxLayout="row" fxFlex="3 0 auto" fxLayoutAlign="center start">
      <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>
      <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
    </div>

    <!-- Footer -->
    <mifosx-footer></mifosx-footer>
  </div>
  <div fxLayout="column" fxFlex.gt-md="1 0 50%" class="right-container">
    <p class="title">{{ 'APP_NAME' | translate }}</p>
  </div>
</div>