<form #filterForm class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
  <mat-form-field fxFlex="20%">
    <mat-label>Payer Id</mat-label>
    <input matInput name="payerPartyId" [formControl]="filterFormGroup.get('payerPartyId')" >
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Payer DFSP Id</mat-label>
    <input matInput name="payerDfspId" [formControl]="filterFormGroup.get('payerDfspId')" >
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Payer DFSP name</mat-label>
    <input matInput name="payerDfspName" [formControl]="filterFormGroup.get('payerDfspName')" [matAutocomplete]="dfspEntriesAutocomplete">
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Payee Id</mat-label>
    <input matInput name="payeePartyId" [formControl]="filterFormGroup.get('payeePartyId')" >
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Transaction ID</mat-label>
    <input matInput name="transactionId" [formControl]="filterFormGroup.get('transactionId')">
  </mat-form-field>

  <mifosx-option-data-selector 
    fxFlex="20%" 
    [inputFormControl]="filterFormGroup.get('status')"
    [inputList]="transactionStatusData"
    [inputLabel]="'Technical Status'">
  </mifosx-option-data-selector>

  <mifosx-option-data-selector 
    fxFlex="20%" 
    [inputFormControl]="filterFormGroup.get('businessProcessStatus')"
    [inputList]="businessProcessStatusData"
    [inputLabel]="'Business Process Status'">
  </mifosx-option-data-selector>

  <mifosx-option-data-selector 
    fxFlex="20%" 
    [inputFormControl]="filterFormGroup.get('paymentScheme')"
    [inputList]="paymentSchemeData"
    [inputLabel]="'Payment Scheme'">
  </mifosx-option-data-selector>

  <mat-form-field fxFlex="20%">
    <mat-label>Currency</mat-label>
    <input matInput name="currencyCode" [formControl]="filterFormGroup.get('currencyCode')" [matAutocomplete]="currenciesAutocomplete">
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Amount From</mat-label>
    <input matInput name="amountFrom" type="number" [formControl]="filterFormGroup.get('amountFrom')">
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Amount To</mat-label>
    <input matInput name="amountTo" type="number" [formControl]="filterFormGroup.get('amountTo')">
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>End to End Identification</mat-label>
    <input matInput name="endToEndIdentification" [formControl]="filterFormGroup.get('endToEndIdentification')">
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Transaction Date From</mat-label>
    <input
      matInput
      placeholder="yyyy-MM-dd hh:mm:ss"
      [ngxMatDatetimePicker]="picker"
      [formControl]="filterFormGroup.get('transactionDateFrom')"
      [min]="minDate"      
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSeconds]="true"></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Transaction Date To</mat-label>
    <input
      matInput
      placeholder="yyyy-MM-dd hh:mm:ss"
      [ngxMatDatetimePicker]="pickerTo"
      [formControl]="filterFormGroup.get('transactionDateTo')"
      [min]="minDate"      
    />
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerTo [showSeconds]="true"></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Acceptance Date From</mat-label>
    <input
      matInput
      placeholder="yyyy-MM-dd hh:mm:ss"
      [ngxMatDatetimePicker]="acceptancePicker"
      [formControl]="filterFormGroup.get('acceptanceDateFrom')"
      [min]="minDate"      
    />
    <mat-datepicker-toggle matSuffix [for]="acceptancePicker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #acceptancePicker [showSeconds]="true"></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Acceptance Date To</mat-label>
    <input
      matInput
      placeholder="yyyy-MM-dd hh:mm:ss"
      [ngxMatDatetimePicker]="acceptancePickerTo"
      [formControl]="filterFormGroup.get('acceptanceDateTo')"
      [min]="minDate"      
    />
    <mat-datepicker-toggle matSuffix [for]="acceptancePickerTo"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #acceptancePickerTo [showSeconds]="true"></ngx-mat-datetime-picker>
  </mat-form-field>
<!--/div-->
</form>

<!-- Autocomplete data -->
<mat-autocomplete autoActiveFirstOption #currenciesAutocomplete="matAutocomplete" [displayWith]="displayCurrencyName">
  <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="{ AlphabeticCode: currency.AlphabeticCode, Currency: currency.Currency }">
    {{ currency.Currency}} ( {{ currency.AlphabeticCode }} )
  </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #dfspEntriesAutocomplete="matAutocomplete" [displayWith]="displayDfspName">
  <mat-option *ngFor="let entry of filteredDfspEntries | async" [value]="{ id: entry.id, name: entry.name }">
    {{ entry.name }} ( {{ entry.id }} )
  </mat-option>
</mat-autocomplete>

<div class="container p-b-10">
  <button mat-raised-button color="primary" fxFlexAlign="center" class="login-button" (click)="resetFilters()" [disabled]="(dataSource?.loading$ | async)">
    Reset filters
  </button>
  <!--button (click)="setFocus()">Set focus</button>
  <button mat-raised-button (click)="logFocusedInputFilter()">Log Focused Input Filter</button-->
</div>

<div class="table-wrapper container">
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="startedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time</th>
        <td mat-cell *matCellDef="let transaction"> {{ formatDate(transaction.startedAt) }} </td>
      </ng-container>

      <ng-container matColumnDef="completedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed Time</th>
          <td mat-cell *matCellDef="let transaction"> {{ formatDate(transaction.completedAt) }} </td>
      </ng-container>

      <ng-container matColumnDef="acceptanceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acceptance Date</th>
        <td mat-cell *matCellDef="let transaction"> {{ formatDate(transaction.acceptanceDate) }} </td>
      </ng-container>

      <ng-container matColumnDef="transactionId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID </th>
        <td mat-cell *matCellDef="let transaction" matTooltip={{transaction.transactionId}}> {{ transaction.transactionId }} </td>
      </ng-container>

      <ng-container matColumnDef="payerPartyId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payer Id </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.payerPartyId }} </td>
      </ng-container>

    

      <ng-container matColumnDef="payerDfspId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payer DFSP Id </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.payerDfspId }} </td>
      </ng-container>

      <ng-container matColumnDef="payerDfspName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payer DFSP Name </th>
        <td mat-cell *matCellDef="let transaction"> {{ displayDfspName(getDfpsEntry(transaction.payerDfspId)) }} </td>
      </ng-container>

      <ng-container matColumnDef="payeePartyId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payee Id </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.payeePartyId }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.amount }} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.currency }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let transaction" [ngClass]="{'red': transaction.status==='FAILED','green': transaction.status==='COMPLETED','orange': transaction.status==='ACTION_NEEDED'}">{{ transaction.status }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let transaction" (click)="$event.stopPropagation()">
          <div *ngIf="transaction.status==='ACTION_NEEDED'"><button mat-button color="primary" (click)="openRetryResolveDialog(transaction.workflowInstanceKey,'retry')"><fa-icon icon="redo" size="lg"></fa-icon></button><button mat-button class="green" (click)="openRetryResolveDialog(transaction.workflowInstanceKey,'resolve')" ><fa-icon icon="check" size="lg"></fa-icon></button></div>
          <div fxLayout.lt-md="column">
            <button *mifosxHasPermission="'READ_TRANSACTIONDETAILS'" fxFlex="50%" mat-button [routerLink]="['view', transaction.workflowInstanceKey]" matTooltip="Transaction Details"><fa-icon icon="list" size="m"></fa-icon></button>
            <div *mifosxHasPermission="'READ_RECALL'" fxFlex="50%">
              <button *ngIf="transaction.recallCount>0" mat-button color="primary" (click)="navigateToRecallsPage(transaction.transactionId)" matTooltip="View Recalls"><fa-icon icon="external-link" size="m"></fa-icon></button>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="feeMethod">
        <th mat-header-cell *matHeaderCellDef> Fee method </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.feeMethod }} </td>
      </ng-container>

      <ng-container matColumnDef="feeAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.payerFee+transaction.payeeFee }} </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div *ngIf="dataSource?.loading$ | async" class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>

    <mat-paginator-goto [length]="dataSource?.records$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [disabled]="(dataSource?.loading$ | async)" showFirstLastButtons></mat-paginator-goto>

  </div>
</div>
