/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
 $primary: #004989;
 $accent: #b4d575;
 
 // Endpoints
$white: #fff;
$black: #000;

// Greys
$light-grey: #f5f5f5;
$mid-grey: #d7dada;
$dark-grey: #353b3b;

$border-size: 0.08rem;

