<div
  class="container"
  fxLayout="row wrap"
  fxLayoutGap="2%"
  fxLayout.lt-md="column"
>
  <form
    #postForm="ngForm"
    (ngSubmit)="exportCSV(postForm.value, postForm.id)"
    class="csv-form"
  >
    <div
      class="container-fluid"
      fxLayout="row wrap"
      fxLayoutGap="5%"
      fxLayout.lt-md="column"
    >
      <mat-form-field>
        <mat-label>TRANSACTION ID</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="transactionid"
          placeholder="comma-separated-list"
          id="transactionid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>External ID</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="externalid"
          placeholder="comma-separated-list"
          id="externalid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>WORKFLOW INSTANCE KEY</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="workflowinstancekey"
          placeholder="comma-separated-list"
          id="workflowinstancekey"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>START DATE</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="startdate"
          placeholder="comma-separated-list"
          id="startdate"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>END DATE</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="enddate"
          placeholder="comma-separated-list"
          id="enddate"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="querytype" class="form-control">Filter By</mat-label>
        <select
          id="querytype"
          name="cars"
          class="form-control col-sm-4"
          ngModel
          matNativeControl
        >
          <option value="">STATUS</option>
          <option value="ACCEPTED">ACCEPTED</option>
          <option value="FAILED">FAILED</option>
          <option value="IN_PROGRESS">PENDING/INCOMPLETE</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Error Description</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="errordescription"
          placeholder="comma-separated-list"
          id="errordescription"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payer Id</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="payerid"
          placeholder="comma-separated-list"
          id="payerid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payee Id</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="payeeid"
          placeholder="comma-separated-list"
          id="payeeid"
        />
      </mat-form-field>
    </div>

    <button mat-stroked-button type="submit" [disabled]="!postForm.valid">
      Export CSV
    </button>
  </form>
</div>
