<div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

  <mat-form-field fxFlex="20%">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" >
  </mat-form-field>

</div>

<div class="mat-elevation-z8 container">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="endToEndId">
      <th mat-header-cell *matHeaderCellDef> End To End ID </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.endToEndId }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.name }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let transaction" matTooltip={{transaction.description}}> {{ transaction.description }} </td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Assignee </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.assignee }} </td>
    </ng-container>

    <ng-container matColumnDef="candidateRoles">
      <th mat-header-cell *matHeaderCellDef> Candidate Roles </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.candidateRoles }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['view', row.id]" class="select-row"></tr>
  </table>

  <mat-paginator (page)="pageChanged()" [length]="dataSource?.records$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons='false'></mat-paginator>

  <div>
    <button  mat-raised-button (click)="unclaimSelected()">Unclaim Selected</button>
  </div>
</div>
