@import 'theme/theme';

table {
    width: 100%;
  
    .select-row:hover {
      cursor: pointer;
    }
}

.container {
  width: 100%;
  gap: 1rem;  
}

.filter-header{
  padding: 0.5rem ;
}

.custom-button {
  width: 12rem;
  border-radius: 2rem;
  margin-top: 1rem;
  background-color: $green;
  padding: 0.5rem 0;
  box-shadow: none;
  color: $white;
}

.push-end {
    text-align: end;
}

.status {
    text-align: center;
}

.equal-width {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0 !important;
  }

.mat-expansion-panel-header:hover,
.mat-expansion-panel-header:focus {
  background-color: inherit !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  height: fit-content;
}

.active-filter-button {
  background-color: $green;
  color: $white;
}

.filter-button {
  background-color: $light-grey;
}