table {
    width: 100%;
  
    .select-row:hover {
      cursor: pointer;
    }
}

.filter-options {
    width: 100%;
    margin-bottom: 20px;
}

.push-end {
    text-align: end;
}

.status {
    text-align: center;
}
