<div class="container" fxLayout="cloumn wrap" fxLayout.lt-md="column">
  <div class="equal-width">
    <mat-accordion class="filter-options">
      <mat-expansion-panel class="filter-header" #panel hideToggle>
        <mat-expansion-panel-header (click)="togglePanel()">
          <mat-panel-title fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
            <div *ngIf="!panel.expanded" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="flex-start center"
              class="gap0">
              <button mat-button (click)="removeFilter('transactionDateFrom')" [ngClass]="{
                  'active-filter-button': selectedFilters.transactionDateFrom,
                  'filter-button': !selectedFilters.transactionDateFrom
                }">
                {{ 'labels.inputs.From Date' | translate }}
              </button>

              <button mat-button (click)="removeFilter('transactionDateTo')" [ngClass]="{
                  'active-filter-button': selectedFilters.transactionDateTo,
                  'filter-button': !selectedFilters.transactionDateTo
                }">
                {{ 'labels.inputs.To Date' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('sourceMinistry')"
                [ngClass]="{
                  'active-filter-button': selectedFilters.sourceMinistry,
                  'filter-button': !selectedFilters.sourceMinistry
                }">
                {{ 'labels.inputs.Source Ministry' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('batchReferenceNumber')"
                [ngClass]="{
                  'active-filter-button': selectedFilters.batchReferenceNumber,
                  'filter-button': !selectedFilters.batchReferenceNumber
                }">
                {{ 'labels.inputs.Batch Reference Number' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('bulkAmount')" [ngClass]="{
                  'active-filter-button': selectedFilters.bulkAmount,
                  'filter-button': !selectedFilters.bulkAmount
                }">
                {{ 'labels.inputs.Bulk Amount' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center"
                (click)="removeFilter('registeringInstitutionId')" [ngClass]="{
                  'active-filter-button': selectedFilters.registeringInstitutionId,
                  'filter-button': !selectedFilters.registeringInstitutionId
                }">
                {{ 'labels.inputs.Registering Institution ID' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('totalInstructionCount')"
                [ngClass]="{
                  'active-filter-button': selectedFilters.totalInstructionCount,
                  'filter-button': !selectedFilters.totalInstructionCount
                }">
                {{ 'labels.inputs.Number of Instructions' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('payerFsp')" [ngClass]="{
                  'active-filter-button': selectedFilters.payerFsp,
                  'filter-button': !selectedFilters.payerFsp
                }">
                {{ 'labels.inputs.Payer FSP' | translate }}
              </button>

              <button mat-button fxLayout="row" fxLayoutAlign="center" (click)="removeFilter('batchStatus')" [ngClass]="{
                  'active-filter-button': selectedFilters.batchStatus,
                  'filter-button': !selectedFilters.batchStatus
                }">
                {{ 'labels.inputs.Status' | translate }}
              </button>
            </div>

            <div fxFlex fxLayout="row" fxLayoutGap="1rem" (click)="togglePanel($event)" fxLayoutAlign="end center">
              <fa-icon icon="filter" size="xl"></fa-icon>
              <h3>{{ 'labels.inputs.Filters' | translate }}</h3>
              <fa-icon [icon]="panel.expanded ? 'chevron-up' : 'chevron-down'" size="lg"></fa-icon>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container" fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.From Date' | translate }}</mat-label>
              <mat-form-field fxFlex="20%" (click)="transactionDateFromPicker.open()">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDateFromPicker"
                  [formControl]="transactionDateFrom" />
                <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
                <mat-datepicker #transactionDateFromPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.To Date' | translate }}</mat-label>
              <mat-form-field fxFlex="20%" (click)="transactionDateToPicker.open()">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDateToPicker"
                  [formControl]="transactionDateTo" />
                <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
                <mat-datepicker #transactionDateToPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Source Ministry' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input matInput [formControl]="sourceMinistry" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Batch Reference Number' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input matInput [formControl]="batchReferenceNumber" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Bulk Amount' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input type="number" matInput [formControl]="bulkAmount" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Registering Institution ID' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input matInput [formControl]="registeringInstitutionId" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Number of Instructions' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input type="number" matInput [formControl]="totalInstructionCount" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Payer FSP' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <input matInput [formControl]="payerFsp" />
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-label>{{ 'labels.inputs.Status' | translate }}</mat-label>
              <mat-form-field fxFlex="20%">
                <mat-select [formControl]="batchStatus">
                  <mat-option *ngFor="let status of batchStatuses" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="p-4" fxLayoutAlign="flex-start center">
            <button mat-raised-button class="custom-button" (click)="searchBatches()">
              {{ 'labels.buttons.Search' | translate }}
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="equal-width">
    <mat-card class="radius8 no-padding">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="batchReferenceNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Batch Reference Number' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              <mifosx-identifier identifier="{{ item.batchId }}"></mifosx-identifier>
            </td>
          </ng-container>

          <ng-container matColumnDef="startedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Start Time' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ convertTimestampToUTCDate(item.startedAt) | datetimeFormat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="completedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Completed Time' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ convertTimestampToUTCDate(item.completedAt) | datetimeFormat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="sourceMinistry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Source Ministry' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ item.sourceMinistry }}
            </td>
          </ng-container>

          <ng-container matColumnDef="registeringInstitutionId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Registering Institution ID' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              <mifosx-identifier identifier="{{ item.registeringInstitutionId }}"></mifosx-identifier>
            </td>
          </ng-container>

          <ng-container matColumnDef="totalInstructionCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Number of Instructions' | translate }}
            </th>
            <td mat-cell class="center" *matCellDef="let item">
              {{ item.totalInstructionCount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="payerFsp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Payer FSP' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ item.payerFsp }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Amount' | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ item.totalAmount | number }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'labels.inputs.Status' | translate }}
            </th>
            <td mat-cell *matCellDef="let item" [ngClass]="status(item)">
              {{ statusLabel(item) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let item; columns: displayedColumns" (click)="gotoSubBatches(item.batchId)"
            class="select-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching data found</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
</div>