@import "theme/theme";

.container {
  padding: 1rem;
  overflow:none !important;
  h1 {
    color: $primary;
    font-size: x-large;
    font-weight: 600;
  }

  .form-fields{
    margin-bottom: 1rem;
  }

  .custom-button {
    width: 8rem;
    border-radius: 5px;
    background-color: $green;
    padding: 0.3rem 0;
    box-shadow: none;
    color: $white;
  
  }

  .custom-button:disabled{
    background-color: $mid-grey;
    color: $black;
  }
  .cancel-button {
    width: 8rem;
    border-radius: 5px;
    padding: 0.3rem 0;
    border: 1px solid $black;
    box-shadow: none;
  }
  
}
