.container {
    width: 80%;
  }
  
  .vouchers-wrap {
    flex-wrap: wrap;
    width: 100%;
  
    mifosx-voucher-management,
    mifosx-vouchers-bulk-import,
    mifosx-filter-selector {
      width: 100%;
    }
    
  }
  