<div class="container">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-md="column" class="payment-hub-ee-wrap">
      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['incomingtransactions']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Transactions</h4>
            <p matLine>Advanced search option for incoming transactions</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingtransactions']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Transactions</h4>
            <p matLine>Advanced search option for outgoing transactions</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['incomingtransactionexport']">
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Incoming Transactions</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['incomingrequesttopay']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Request to Pay</h4>
            <p matLine>Advanced search option for incoming request to pays</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingrequesttopay']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Request to Pay</h4>
            <p matLine>Advanced search option for outgoing request to pays</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['incomingrequesttopayexport']">
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Incoming Request to Pay</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['getbatchexport']">
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Batches</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-card>
</div>
