<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayout="row wrap">

      <div *mifosxHasPermission="'READ_TRANSACTION'" fxFlex="33.3%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['incomingtransactions']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Transactions</h4>
            <p matLine>Advanced search option for incoming transactions</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingtransactions']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Transactions</h4>
            <p matLine>Advanced search option for outgoing transactions</p>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div *mifosxHasPermission="'READ_REQUESTTOPAY'" fxFlex="33.3%">
        <mat-nav-list>

          <mat-list-item [routerLink]="['incomingrequesttopay']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Request to Pay</h4>
            <p matLine>Advanced search option for incoming request to pays</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingrequesttopay']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Request to Pay</h4>
            <p matLine>Advanced search option for outgoing request to pays</p>
          </mat-list-item>

        </mat-nav-list>

      </div>
      <div *mifosxHasPermission="'READ_RECALL'" fxFlex="33.3%">
        <mat-nav-list>

          <mat-list-item [routerLink]="['incomingrecalls']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Recalls</h4>
            <p matLine>Advanced search option for incoming recalls</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingrecalls']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Recalls</h4>
            <p matLine>Advanced search option for outgoing recalls</p>
          </mat-list-item>
        </mat-nav-list>

      </div>
      <div *mifosxHasPermission="'READ_REQUESTTOPAY'" fxFlex="33.3%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['incomingrequesttopayexport']">
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Incoming Request to Pay</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['outgoingrequesttopayexport']">
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Outgoing Request to Pay</h4>
          </mat-list-item>
        </mat-nav-list>

      </div>
    </div>

  </mat-card>

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['listtasks']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>List Tasks</h4>
            <p matLine>List Tasks</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['mytasks']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>My Tasks</h4>
            <p matLine>My Tasks</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>


        </mat-nav-list>

      </div>
      <div fxFlex="50%">

        <mat-nav-list>

        </mat-nav-list>
      </div>

    </div>

  </mat-card>

</div>
