.container {
  width: 35rem;


}

mat-list-item {
  border: 1px;
  border-radius: 15px;
  vertical-align: middle;
  min-height: 40px;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  background: red;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}
.payment-hub-ee-wrap {
  flex-wrap: wrap;
}
