<div class="container" matomoForm="payment-hub-navigation">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-md="column" class="payment-hub-ee-wrap">
      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item
            [routerLink]="['incomingtransactions']"
            (click)="onNavigateToSection('Incoming Transactions', 'Search')"
            matomoClick="navigation-incoming-transactions"
            category="Payment Hub Navigation"
            name="Search Incoming Transactions"
          >
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Transactions</h4>
            <p matLine>Advanced search option for incoming transactions</p>
          </mat-list-item>

          <mat-list-item
            [routerLink]="['outgoingtransactions']"
            (click)="onNavigateToSection('Outgoing Transactions', 'Search')"
            matomoClick="navigation-outgoing-transactions"
            category="Payment Hub Navigation"
            name="Search Outgoing Transactions"
          >
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Transactions</h4>
            <p matLine>Advanced search option for outgoing transactions</p>
          </mat-list-item>

          <mat-list-item
            [routerLink]="['incomingtransactionexport']"
            (click)="onExportAction('Incoming Transactions')"
            matomoClick="export-incoming-transactions"
            category="Export Actions"
            name="Export Incoming Transactions"
          >
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Incoming Transactions</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item
            [routerLink]="['incomingrequesttopay']"
            (click)="onNavigateToSection('Incoming Request to Pay', 'Search')"
            matomoClick="navigation-incoming-rtp"
            category="Payment Hub Navigation"
            name="Search Incoming Request to Pay"
          >
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Incoming Request to Pay</h4>
            <p matLine>Advanced search option for incoming request to pays</p>
          </mat-list-item>

          <mat-list-item
            [routerLink]="['outgoingrequesttopay']"
            (click)="onNavigateToSection('Outgoing Request to Pay', 'Search')"
            matomoClick="navigation-outgoing-rtp"
            category="Payment Hub Navigation"
            name="Search Outgoing Request to Pay"
          >
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Search Outgoing Request to Pay</h4>
            <p matLine>Advanced search option for outgoing request to pays</p>
          </mat-list-item>

          <mat-list-item
            [routerLink]="['incomingrequesttopayexport']"
            (click)="onExportAction('Incoming Request to Pay')"
            matomoClick="export-incoming-rtp"
            category="Export Actions"
            name="Export Incoming Request to Pay"
          >
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Export Incoming Request to Pay</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item
            [routerLink]="['getbatchexport']"
            (click)="onNavigateToSection('Batches', 'Export')"
            matomoClick="navigation-batches"
            category="Payment Hub Navigation"
            name="Batches Export"
          >
            <mat-icon matListIcon>
              <fa-icon icon="download" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Batches</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-card>
</div>
