<!-- Application Shell -->
<mat-sidenav-container id="mifosx-shell-container" autosize>

  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    class="sidebar-panel"
    [ngClass]="{
      'sidebar-full': !sidenavCollapsed,
      'sidebar-compact': sidenavCollapsed
    }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mifosx-sidenav 
      [sidenavCollapsed]="sidenavCollapsed"
      (sideNavControl)="sideNavControl($event)"
    >
    </mifosx-sidenav>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <!-- Progress Bar -->
    <mat-progress-bar [mode]="progressBarMode"></mat-progress-bar>

    <div class="vertical-space"></div>
    <!-- Toolbar -->
    <mifosx-toolbar [sidenav]="sidenav" (collapse)="toggleCollapse($event)"></mifosx-toolbar>
    <div class="vertical-space"></div>

    <!-- Content -->
    <mifosx-content></mifosx-content>
    <!-- Footer -->
    <mifosx-footer></mifosx-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
