<div (click)="goToRoute()" fxLayout="column" fxLayoutAlign="center start" class="option {{classFormat}}" [ngClass]="isActive()" *ngIf="!section.disabled">
    <fa-icon class="icon" *ngIf="section.icon" [icon]="section.icon" size="xl"></fa-icon>
    <h4 matLine class="title" [ngClass]="classFormatTitle">
        {{ 'labels.menus.' + section.label | translate }}
    </h4>
</div>
<div fxLayout="column" fxLayoutAlign="center start" class="option-disabled {{classFormat}}" [ngClass]="isActive()" *ngIf="section.disabled">
    <fa-icon class="icon" *ngIf="section.icon" [icon]="section.icon" size="xl"></fa-icon>
    <h4 matLine class="title" [ngClass]="classFormatTitle">
        {{ 'labels.menus.' + section.label | translate }}
    </h4>
</div>