@import 'theme/theme';

//classFormat css
.small-height {
  height: 60px;
}
.full-height {
  height: 140px;
}
.padding-left {
  padding-left: 15px;
}
.center{
  display: flex;
  justify-content: center;
  width: 100%;
}

//fa-icon common css
.icon {
  font-size: 1rem;
  padding: 1rem;
  border: 0.08rem solid $primary;
  background-color: $white;
  border-radius: 48%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option {
  border-radius: 10px;
  border: 0.05rem solid $dark-grey;
  width: 260px;
  vertical-align: middle;
  margin: 15px 30px 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;

  .title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
  
  fa-icon {
    color: $primary;
  }
}

.option-disabled {
  background-color: $mid-grey;
  border-radius: 10px;
  width: 260px;
  vertical-align: middle;
  margin: 15px 30px 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;


  .title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
  fa-icon {
    color: $primary;
  }
}

.active {
  background-color: $primary;
  .title {
    color: $white;
    fa-icon {
      color: $white;
    }
  }
}

.option:hover {
  background-color: $primary;
  .title {
    color: $white;
  }
}
