.center {
  text-align: center;
}

.r-amount {
  text-align: right;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

mat-dialog-container {
  min-width: 600px;
}