@import "theme/theme";

.center {
  text-align: center;
}

.r-amount {
  text-align: right;
}

.green {
  color: $green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.primary{
  color: $primary;

}

.black{
  color: $black;
}

mat-dialog-container {
  min-width: 600px;
  border-radius: 0.8rem !important;
}