.loader-wrapper {
  height: 100vh;
  width: 100vw;

  .title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    img {
      width: 3rem;
      height: 3rem;
      animation: fade-in-out 1s infinite;
    }

    @keyframes fade-in-out {
      10% { opacity: 0; }
      50% { opacity: 1; }
      100% { opacity: 0; }
    }
    span {
      font-size: 2rem;
      color: #000000;
      font-weight: bold;
    }
  }
}
