<div
  class="container"
  fxLayout="row wrap"
  fxLayoutGap="2%"
  fxLayout.lt-md="column"
>
  <form
    #postForm="ngForm"
    (ngSubmit)="exportCSV(postForm.value)"
    class="csv-form"
  >
    <div
      class="container-fluid"
      fxLayout="row wrap"
      fxLayoutGap="5%"
      fxLayout.lt-md="column"
    >
      <mat-form-field>
        <mat-label>TRANSACTION ID</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="transactionid"
          placeholder="comma-separated-list"
          id="transactionid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>WORKFLOW INSTANCE KEY</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="workflowinstancekey"
          placeholder="comma-separated-list"
          id="workflowinstancekey"
        />
      </mat-form-field>
      <mat-form-field (click)="startDatePicker.open()">
        <mat-label>START DATE</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="startdate"
          placeholder="Start Date"
          id="startdate"
          [matDatepicker]="startDatePicker"
        />
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field (click)="endDatePicker.open()">
        <mat-label>END DATE</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="enddate"
          placeholder="End Date"
          id="enddate"
          [matDatepicker]="endDatePicker"
        />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="querytype" class="form-control">Filter By</mat-label>
        <select
          id="querytype"
          name="status"
          class="form-control col-sm-4"
          ngModel
          matNativeControl
        >
          <option value="">STATUS</option>
          <option value="COMPLETED">COMPLETED</option>
          <option value="FAILED">FAILED</option>
          <option value="IN_PROGRESS">IN PROGRESS</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payer Id</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="payerid"
          placeholder="comma-separated-list"
          id="payerid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payee Id</mat-label>
        <input
          matInput
          type="textArea"
          class="form-control col-sm-4"
          ngModel
          name="payeeid"
          placeholder="comma-separated-list"
          id="payeeid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>AMS Business Short Code</mat-label>
        <mat-select 
        class="form-control col-sm-4"
        ngModel
        name="payerdfspid"
        placeholder="comma-separated-list"
        id="payerdfspid" multiple>
          <mat-option *ngFor="let code of amsCodes" [value]="code.value">
            {{ code.option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-stroked-button type="submit" [disabled]="!postForm.valid">
      Export CSV
    </button>
  </form>
</div>

