<div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-accordion class="filter-options">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="m-r-10">Filters</h3>
            <fa-icon icon="filter" size="xl"></fa-icon>
          </mat-panel-title>
  
        </mat-expansion-panel-header>
        <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="20%">
            <mat-label>Financial Institution</mat-label>
            <input matInput [formControl]="financialInstitution">
          </mat-form-field>
    
          <mat-form-field fxFlex="20%">
            <mat-label>Functional ID</mat-label>
            <input matInput [formControl]="functionalId">
          </mat-form-field>
        
          <mat-form-field fxFlex="20%">
            <mat-label>Financial Address</mat-label>
            <input matInput [formControl]="financialAddress">
          </mat-form-field>

          <div fxFlex="20%" class="push-end m-t-15">
            <button mat-raised-button color="primary" (click)="searchAccounts()">
              <fa-icon icon="search" class="m-r-10"></fa-icon> Search
            </button>
          </div>
 
        </div>
    
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-card class="container">
  
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="governmentEntity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Government Entity </th>
            <td mat-cell *matCellDef="let item" > {{
              shortenValue(item.transactionId) }} </td>
        </ng-container>

        <ng-container matColumnDef="financialInstitution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Institution </th>
            <td mat-cell *matCellDef="let item" > {{
              shortenValue(item.transactionId) }} </td>
        </ng-container>
  
        <ng-container matColumnDef="functionalId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Functional ID </th>
          <td mat-cell *matCellDef="let item"> {{ item.amount }} </td>
        </ng-container>
  
        <ng-container matColumnDef="financialAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Address </th>
            <td mat-cell *matCellDef="let item"> {{ item.amount }} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          class="select-row"></tr>
  
      </table>
  
      <mat-paginator [length]="dataSource?.records$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons='false'></mat-paginator>

    </mat-card>

</div>