<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" class="payment-hub-ee-wrap">
      <mat-nav-list>
        <mat-list-item fxFlex="33%" [routerLink]="['batches']" class="big-option">
          <h4 matLine class="title">Main Batches</h4>
        </mat-list-item>
  
        <mat-list-item fxFlex="33%" [routerLink]="['sub-batches']">
          <h4 matLine class="title">Sub Batches</h4>
        </mat-list-item>
  
        <mat-list-item fxFlex="33%" [routerLink]="['transactions']">
          <h4 matLine class="title">Transactions</h4>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>